<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--
    Center of buoyancy according to eq. (3.1) p. 28 in Berg2012.
    The original values, [0.0822, -0.00773, 0.3872] however, seem to
    assume NWU (otherwise cob is below cog?).
    -->
    <xacro:property name="cob" value="0.0 0.0 0.05"/>

    <!-- Volume, see p.31 in Berg2012 -->
    <!-- <xacro:property name="volume" value="1.83826"/> -->
    <xacro:property name="volume" value="0.02175"/>

    <xacro:macro name="seabotix_hydro_model" params="namespace">
        <link name="${namespace}/base_link">
            <neutrally_buoyant>0</neutrally_buoyant>
            <volume>${volume}</volume>
            <box>
                <width>${width}</width>
                <length>${length}</length>
                <height>${height}</height>
            </box>
            <center_of_buoyancy>${cob}</center_of_buoyancy>
            <hydrodynamic_model>
                <type>fossen</type>
                <!-- Added mass: see p.28 in Berg2012 -->
                <added_mass>
                    8.10 -0.07 -1.07 0.09 -1.71 -0.08
                    -0.07 12.69 0.53 4.25 -0.06 0.65
                    -1.07 0.53 38.02 0.06 -4.01 0.11
                    0.09 4.25 0.06 5.56 -0.10 0.22
                    -1.71 -0.06 -4.01 -0.10 8.75 -0.01
                    -0.08 0.65 0.11 0.22 -0.01 2.33
                </added_mass>
                <!-- Linear damping: Hannah's values negated because these should be negative
                for some reason -->
                <linear_damping>
                    -3.4 -4.6 -52.9 -4.5 -8.0 -2.7
                </linear_damping>
                <!-- Linear damping: Hannah's values negated because these should be negative
                for some reason -->
                <quadratic_damping>
                    -34.4 -65.9 -132.3 -11.4 -20 -13.5
                </quadratic_damping>
            </hydrodynamic_model>
        </link>
    </xacro:macro>

</robot>
